# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary file for experiments
/Duskers/task/duskers/_tmp.py

# PyDuskers savefile
/Duskers/task/duskers/save_file.json

# ============================ EXPERIMENTAL ============================
# Magic .yaml files
*task-info.yaml
*task-remote-info.yaml
/course-info.yaml
/course-remote-info.yaml
*lesson-info.yaml
# Even more magic binary files
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
